---
import { formatCurrency } from "@/lib/format-curryency";
import { MONTHS } from "@/const/dates";

const adjudicados = [
  // valores reALES ---------------------------------------------------
  {
    nombre: "Herrera Paola Mariana",
    numeroSorteo: 89,
    plan: "50",
    montoAdjudicado: 2000000,
    numeroCuota: 3,
    mes: "agosto",
    year: 2023,
  },
  {
    nombre: "Acosta Viviana Argentina",
    numeroSorteo: 39,
    plan: "50",
    montoAdjudicado: 2000000,
    numeroCuota: 6,
    mes: "noviembre",
    year: 2023,
  },
  {
    nombre: "Bazán Moya Maximiliano Gastón",
    numeroSorteo: 823,
    plan: "50",
    montoAdjudicado: 3500000,
    numeroCuota: 1,
    mes: "diciembre",
    year: 2023,
  },
  {
    nombre: "Vargas Carla Roxana",
    numeroSorteo: 512,
    plan: "50",
    montoAdjudicado: 3500000,
    numeroCuota: 6,
    mes: "febrero",
    year: 2024,
  },
  {
    nombre: "Martini Eduardo Jesus",
    numeroSorteo: 935,
    plan: "50",
    montoAdjudicado: 4000000,
    numeroCuota: 5,
    mes: "mayo",
    year: 2024,
  },
  {
    nombre: "Carrizo Sergio Nicolas",
    numeroSorteo: 555,
    plan: "50",
    montoAdjudicado: 1500000,
    numeroCuota: 10,
    mes: "junio",
    year: 2024,
  },
  {
    nombre: "Salinas Rosana Del Carmen",
    numeroSorteo: 40,
    plan: "50",
    montoAdjudicado: 1500000,
    numeroCuota: 8,
    mes: "agosto",
    year: 2024,
  },
  {
    nombre: "Cortez Mónica Beatriz",
    numeroSorteo: 78,
    plan: "50",
    montoAdjudicado: 3000000,
    numeroCuota: 9,
    mes: "septiembre",
    year: 2024,
  },
  {
    nombre: "Peña Nancy Beatriz",
    numeroSorteo: 476,
    plan: "50",
    montoAdjudicado: 9000000,
    numeroCuota: 1,
    mes: "octubre",
    year: 2024,
  },
];

const year = Number(Astro.url.searchParams.get("year")) || null;
const month = Number(Astro.url.searchParams.get("month")) || null;
const monthText = month ? MONTHS[month] : "";

// Función que llamará a API en un futuro.
function fetching(year, month) {
  return adjudicados.filter((adj) => {
    const matchYear = year ? adj.year === year : true;
    const matchMonth = month ? adj.mes?.toLocaleLowerCase() === MONTHS[month].toLocaleLowerCase() : true;
    return matchYear && matchMonth;
  });
}

const listed = year !== null ? fetching(year, month) : adjudicados;
---

<section class="py-4">
  <h2 class="text-2xl font-semibold text-center mt-2">
    {`Lista de Adjudicados ${year ? `- ${monthText} ${year}` : ""}`}
  </h2>
  <table class="min-w-full table-auto border-collapse mt-4 text-center">
    <thead>
      <tr class="bg-secondary-darker text-white">
        <th class="p-2">Cuota</th>
        <th class="p-2">Nombre</th>
        <th class="p-2">Plan</th>
        <th class="p-2">Monto</th>
      </tr>
    </thead>
    <tbody>
      {
        listed.map((item, i) => (
          <tr class={`${i % 2 === 0 ? "bg-gray-50" : "bg-gray-200"}`}>
            <td class="p-2">{item.numeroCuota}</td>
            <td class="p-2">{item.nombre}</td>
            <td class="p-2">Plan {item.plan}</td>
            <td class="p-2">{formatCurrency(item.montoAdjudicado)}</td>
          </tr>
        ))
      }
    </tbody>
  </table>
</section>
