---
import { formatCurrency } from "@/lib/format-curryency";
import { MONTHS } from "@/const/dates";

// TUTORIAL = https://benborgers.com/google-sheets-json
// PLANILLA = https://docs.google.com/spreadsheets/d/1FJ5z6zcc-YF312ZLAnKn-xNUpnqtgFFFRjGJR8KKLp0/edit?usp=sharing
// BASE = https://opensheet.elk.sh/spreadsheet_id/tab_name
// URL ADAPTADA = https://opensheet.elk.sh/1FJ5z6zcc-YF312ZLAnKn-xNUpnqtgFFFRjGJR8KKLp0/Adjudicados

const response = await fetch(
  "https://opensheet.elk.sh/1FJ5z6zcc-YF312ZLAnKn-xNUpnqtgFFFRjGJR8KKLp0/Adjudicados",
);

const adjudicados = await response.json();
// console.log(adjudicados);

const year = Number(Astro.url.searchParams.get("year")) || null;
const month = Number(Astro.url.searchParams.get("month")) || null;
const monthText = month ? MONTHS[month] : "";

// Función que llamará a API en un futuro.
function fetching(year, month) {
  return adjudicados.filter((adj) => {
    const matchYear = year ? adj.year === year : true;
    const matchMonth = month
      ? adj.mes?.toLocaleLowerCase() === MONTHS[month].toLocaleLowerCase()
      : true;
    return matchYear && matchMonth;
  });
}

const listed = year !== null ? fetching(year, month) : adjudicados;
---

<section class="py-4 mt-6">
  <h2 class="text-2xl font-semibold text-center mt-2">
    {`Lista de Adjudicados ${year ? `- ${monthText} ${year}` : ""}`}
  </h2>
  <table class="min-w-full table-auto border-collapse mt-8 text-center">
    <thead>
      <tr class="bg-secondary-darker text-white">
        <th class="p-2">Cuota</th>
        <th class="p-2">Nombre</th>
        <th class="p-2">Plan</th>
        <th class="p-2">Monto</th>
      </tr>
    </thead>
    <tbody>
      {
        listed.map((item, i) => (
          <tr class={`${i % 2 === 0 ? "bg-gray-50" : "bg-gray-200"}`}>
            <td class="p-2">{item.numeroCuota}</td>
            <td class="p-2">{item.nombre}</td>
            <td class="p-2">Plan {item.plan}</td>
            <td class="p-2">{formatCurrency(item.montoAdjudicado)}</td>
          </tr>
        ))
      }
    </tbody>
  </table>
</section>
