---
import company from "config";
import Email from "@ico/Email.alternate.astro";
import Phone from "@ico/Phone.ico.astro";
import Insight from "./Insight.astro";
import SocialLinkLI from "./SocialLinkLI.astro";

const { images, empresa, social } = company;
const year = new Date().getFullYear();
---

<footer class="bg-gray-100 w-full">
  <div class="mx-auto px-4 pb-6 pt-16 sm:px-6 lg:px-8 lg:pt-24 print:hidden">
    <!-- Upper -->
    <div class="flex flex-col gap-8 md:flex-row md:justify-between">
      <!-- Logo -->
      <div class="w-full flex flex-col items-center md:w-1/3">
        <img
          src={images.logo[4]}
          alt="Logo Insight"
          class="w-1/2 lg:w-4/5"
          loading="lazy"
        />
        <ul class="mt-8 flex justify-center gap-6 sm:justify-start md:gap-8">
          {
            social.map(({ name, href }) => (
              <SocialLinkLI
                href={href}
                name={name}
                showLabel={false}
                aria-label={`Visitar ${name}`}
              />
            ))
          }
        </ul>
        <p
          class="mt-6 max-w-md text-center leading-relaxed text-gray-500 sm:max-w-xs sm:text-left font-bold"
        >
          PLANES DE CAPITALIZACIÓN
        </p>
        <p
          class="max-w-md text-center leading-relaxed text-gray-500 sm:max-w-xs sm:text-left"
        >
          – Aprobados por RES. IGJ N°0000768/2021. Plazo de duración del Plan
          hasta 330 meses. Adjudicaciones anticipadas por sorteo.
        </p>

        <!-- TODO poner aqui https://www.youtube.com/watch?v=WbpN9c0fPCY -->
      </div>

      <!-- Navigation Links -->
      <div
        class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 md:col-span-3"
      >
        <!-- Sectores Conoces -->
        <div class="text-center lg:text-left">
          <p class="text-lg font-medium text-gray-900">Conocenos</p>
          <ul class="mt-8 space-y-4 text-sm">
            <li>
              <a
                class="text-gray-700 hover:text-gray-700/75 transition duration-300"
                href="/institucional"
              >
                Quienes somos
              </a>
            </li>
            <li>
              <a
                class="text-gray-700 hover:text-gray-700/75 transition duration-300"
                href="/medios-de-pago"
              >
                Medios de pago
              </a>
            </li>
          </ul>
        </div>

        <!-- Sectores Info Adicional -->
        <div class="text-center lg:text-left">
          <p class="text-lg font-medium text-gray-900">Información Adicional</p>
          <ul class="mt-8 space-y-4 text-sm">
            <li>
              <a
                class="text-gray-700 hover:text-gray-700/75 transition duration-300"
                href="/plan"
              >
                Condiciones del plan
              </a>
            </li>
            <li>
              <a
                class="text-gray-700 hover:text-gray-700/75 transition duration-300"
                href="/#"
              >
                Derecho del consumido
              </a>
            </li>
            <li>
              <a
                class="text-gray-700 hover:text-gray-700/75 transition duration-300"
                href="/#"
              >
                Defensa del consumidor
              </a>
            </li>
            <li>
              <a
                class="text-gray-700 hover:text-gray-700/75 transition duration-300"
                href="/contacto"
              >
                Baja del servicio
              </a>
            </li>
          </ul>
        </div>

        <!-- Contacto -->
        <div class="text-center sm:text-left">
          <h2 class="text-lg font-medium text-gray-900">Contacto</h2>
          <ul class="mt-8 space-y-4 text-sm">
            <li>
              <a
                href={`mailto:${empresa.email}`}
                class="flex items-center justify-center gap-1.5 ltr:sm:justify-start rtl:sm:justify-end"
                aria-label="Enviar correo electrónico a Insight"
              >
                <Email aria-label="Icono de correo electrónico" />
                <span class="flex-1 text-gray-700">{empresa.email}</span>
              </a>
            </li>
            <li>
              <a
                href={`https://wa.me/${empresa.whatsapp}`}
                class="flex items-center justify-center gap-1.5 ltr:sm:justify-start rtl:sm:justify-end"
                aria-label="Llamar a Insight por WhatsApp"
              >
                <Phone aria-label="Icono de teléfono" />
                <span class="flex-1 text-gray-700">{empresa.whatsapp}</span>
              </a>
            </li>
            <li>
              <a
                class="text-gray-700 hover:text-gray-700/75 transition duration-300"
                href="/#"
              >
                Trabaja con nosotros
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Pie de página solo para impresión -->
  <div
    class="hidden print:flex print:justify-between print:items-center print:text-xs print:text-gray-700 print:border-t print:pt-2 print:mt-4"
  >
    <!-- Logo e información -->
    <div class="print:flex print:flex-col print:items-start">
      <img src={company.images.logo[0]} alt="Logo" class="w-16 mb-1" />
    </div>

    <!-- Contacto -->
    <div class="print:text-right">
      <p class="flex items-center gap-1">
        <Email aria-label="Correo electrónico" class="size-3" />
        {company.empresa.email}
        <span>|</span>
        <Phone aria-label="Teléfono" class="size-3" />
        {company.empresa.whatsapp}
      </p>
    </div>
  </div>
  <div
    class="mx-auto w-full bg-neutral py-8 text-center sm:flex sm:justify-between sm:text-left"
  >
    <p class="mt-4 text-sm text-gray-500 sm:order-first sm:mt-0">
      &copy; {year}
      {company.empresa.name} - Todos los derechos reservados
    </p>
    <Insight />
  </div>
</footer>
