---
import Frame from "@/components/Frame.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const PLANES = await getCollection("planes");

  return PLANES.map((planes) => ({
    params: { slug: planes.slug },
    props: { planes },
  }));
}
const { planes } = Astro.props;
// console.log(planes);

const { data, body } = planes;
const { title, subtitle, image, cuotaEjemplo, valorEjemplo, contrato } = data;
---

<Layout title={title}>
  <Frame>
    <div
      class="rounded-2xl flex flex-wrap lg:flex-nowrap items-center gap-6 bg-slate-100 p-6"
    >
      <!-- Imagen del producto -->
      {
        image && (
          <img
            src={image}
            alt={`Imagen de ${title}`}
            class="w-full lg:w-1/2 h-[70vh] object-cover rounded-2xl shadow-md"
          />
        )
      }

      <!-- Área de detalles -->
      <div class="flex-1 flex flex-col justify-between gap-6 lg:self-stretch">
        <!-- Enlace para volver al listado -->
        <a
          href="/plan"
          class="text-primary hover:text-primary-dark transition font-medium underline"
        >
          ← Volver al listado
        </a>

        <div>
          <h1 class="text-4xl font-bold text-primary mb-2">{title}</h1>
          {subtitle && <p class="text-lg text-gray-600 mb-4">{subtitle}</p>}

          <!-- Valores de ejemplo -->
          <div class="text-sm space-y-2">
            <p class="font-medium">
              Ejemplo de cuota:
              <span class="text-gray-800"
                >$ {Number(cuotaEjemplo).toLocaleString()}</span
              >
            </p>
            <p class="italic text-gray-500">
              Si tu compra es de
              <span class="text-gray-800"
                >$ {Number(valorEjemplo).toLocaleString()}</span
              >
            </p>
          </div>
        </div>

        <!-- Si llevara descripcion -->
        <!-- <div class="prose">{body}</div> -->

        <!-- Mostrar PDF del contrato -->
        {
          contrato ? (
            <div class="mt-8 p-4 bg-white shadow-lg rounded-lg flex flex-col items-center">
              <h4 class="text-xl font-semibold mb-2">Contrato asociado:</h4>
              <a
                href={contrato}
                target="_blank"
                rel="noopener noreferrer"
                class="text-primary underline hover:text-primary-dark">
                Descargar contrato (PDF)
              </a>
            </div>
          ) : (
            <span />
          )
        }
      </div>
    </div>
  </Frame>
</Layout>
