---
const {item} = Astro.props
const {slug, descripcion, cuotasdesde, contratoasociado, foto, valornominal} = item
---

<a href={`/producto/${slug}`} class="group bg-slate-100 rounded-3xl overflow-hidden shadow-sm hover:shadow-2xl transition-all duration-300 hover:border hover:border-slate-200">
  <div class="relative h-[300px] w-full">
    <img
      src={foto || "/placeholder.svg"}
      alt={descripcion}
      class="object-cover"
    />
  </div>

  <div class="p-6 text-center">
    <h3 class="text-xl font-semibold h-14 mb-6 line-clamp-2">{descripcion}</h3>
    <div class="flex flex-col items-center">
      <p>Cuota desde:</p>
      <p class="text-3xl font-bold text-secondary mb-6">${cuotasdesde.toLocaleString()}</p>
    </div>
    <div class="text-sm text-gray-600 mb-6">
      <p><span class="font-bold">Contrato asociado: </span>{contratoasociado}</p>
      <p><span class="font-bold">Valor nominal: </span>{valornominal}</p>
    </div>

    <div
      class="block w-full bg-primary group-hover:bg-primary-dark text-white font-medium py-3 px-4 rounded-lg text-center transition-colors"
    >
      Ver producto
    </div>
  </div>
</a>