---
const { item } = Astro.props;
const { data, body, slug } = item;
const { title, subtitle, image, cuotaEjemplo, valorEjemplo } = data;
---

<div class="w-4/12 flex items-center justify-center p-2">
  <div class="rounded-2xl flex flex-col items-center p-4 bg-slate-100">
    {image && <img src={image} class="w-full rounded-2xl aspect-auto object-cover" transition:name={`img-${slug}`}/>}
    <div class="p-4 flex flex-col items-center">
      <h3 
        class="text-3xl text-primary font-bold"
        transition:name={`title-${slug}`}
      >
        {title}
      </h3>
      <!-- <p>{subtitle}</p> -->
      <!-- <div class="prose">{body}</div> -->

      <!-- Valores de ejemplo -->
      <p class="text-sm my-2">
        Ejemplo de cuota: $ {Number(cuotaEjemplo).toLocaleString()}
      </p>
      <p class="italic text-xs">
        Si tu compra es de $ {Number(valorEjemplo).toLocaleString()}
      </p>

      {/* Botón */}
      <a
        href={`/plan/${slug}`}
        class="mt-4 text-primary underline hover:text-primary-dark transition"
      >
        Ver más
      </a>
    </div>
  </div>
</div>
